<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
	<link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css">
</head>
<body>
	<header><h3>管理收货地址</h3></header>
	<article>
		<ul class="list-group">
		  <li class="list-group-item" ng-repeat="(key, value) in data">
		  		<p class="title">订单号{{value.orderno}}</p>
		  		<ul ng-repeat="(k, val) in value.product">
		  			<li><img ng-src="libs/php/list/{{val.src}}" class="img-responsive" ></li>
		  			<li ng-bind="val.productname"></li>
		  			<li >{{val.productprice}}</li>
		  		</ul>
		  		<p class="count">合计：{{value.count}}</p>
		  </li>
		</ul>
	</article>
	<footer>
		<a href="#" title="">添加新地址</a>
	</footer>
</body>
</html>