<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0">
	<title></title>
	<link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="libs/dist/css/cart.min.css">

	<script type="text/javascript" src="libs/jquery/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="libs/angular/angular.min.js"></script>
	<script type="text/javascript" src="libs/iscroll/build/iscroll.js"></script>
	<script type="text/javascript" src="libs/dist/js/ng_common.js"></script>
</head>
<body ng-app="cart" ng-controller="cartcontroller" data-ng-init='load()'>
	<header>
		<i class="fa fa-angle-left topgo fa-lg"></i>
		购物车
		<i class="fa fa-list toplist"></i>
		<ul class="them">
			<li><a href="index.html" title="">首页</a></li>
			<li><a href="product.html" title="">分类查询</a></li>
			<li><a href="cart.html" title="">购物车</a></li>
			<li><a href="user.html" title="">会员中心</a></li>
			<li><a href="order.html" title="">我的订单</a></li>
			<li class="abclast"><a href="login.html" title="">会员登录</a></li>
		</ul>
	</header>
	<article>
		<div id="wrapper">
			<ul>
				<li  class="good" ng-repeat="(key, value) in data">
					<div>
						<i class="fa  icon checked" check = "false" ng-click="check(value)" ng-class="value.check?facheck:faclass"></i>
					</div>
					<div>
						<img ng-src="libs/php/list/{{value.src}}" class="img-responsive produce" >
					</div>
					<div>
						<p class="title" ng-bind="value.productname"></p>
						<div class="total clearfix">
							<div class="price">￥<span class="sum" ng-bind="value.productprice"></span></div>
							<div class="trash">
								<i class="fa fa-trash-o" ng-click="remove(value)"></i>
							</div>
							<div class="number clearfix">
								<div><i class="fa fa-plus" ng-click="click(value,'plus')"></i></div>
								<div class="num" ng-bind="value.num">1</div>
								<div><i class="fa fa-minus" ng-click="click(value,'minus')"></i></div>
							</div>
						</div>
					</div>
				</li>		
			</ul>
			<h4 style="color:black;text-align: center;" ng-if="tem">
				购物车为空，请去添加
			</h4>
		</div>
	</article>
	<footer>
		<a href="#" class="col-xs-3">
			<i class="fa icon" check = "false" id="checkall" ng-click="allcheck()" ng-class="all?facheck:faclass"></i>
			<span>全选</span>
			
		</a>
		<a href="#" class="col-xs-4 page" ng-click="topage('page')">支付方式</a>
		<a href="#" class="col-xs-5" ng-click="buy()">确认并支付(<span id="sum" ng-bind="count"></span>)</a>
	</footer>
	<div id="mark" ng-class="page"></div>
	<div id="page" ng-class="page">
		<div ng-click="topage('div')">微信支付</div>
		<div ng-click="topage('div')">余额支付</div>
	</div>
</body>
<script type="text/javascript" src="libs/dist/js/cart.js"></script>
</html>