<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0">
	<title></title>
	<link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="libs/Swiper-3.4.0/dist/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="libs/dist/css/detail.min.css">

	<script type="text/javascript" src="libs/jquery/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="libs/Swiper-3.4.0/dist/js/swiper.jquery.min.js"></script>
	<script type="text/javascript" src="libs/angular/angular.min.js"></script>
	<script type="text/javascript" src="libs/iscroll/build/iscroll.js"></script>
	<script type="text/javascript" src="libs/dist/js/ng_common.js"></script>
	<script type="text/javascript" src="libs/dist/js/detail.js"></script>
</head>

<body ng-app="delapp" ng-controller="delcontroller"  data-ng-init='load()'>
	<header>
		<i class="fa fa-angle-left topgo fa-lg"></i>
		<div id="detail"  ng-click="tog('detail')"  ng-class="del">详情</div>
		<div id="content" ng-click = "tog('content')"  ng-class="cont">评论</div>
		<i class="fa fa-list toplist"></i>
		<ul class="them">
			<li><a href="index.html" title="">首页</a></li>
			<li><a href="product.html" title="">分类查询</a></li>
			<li><a href="cart.html" title="">购物车</a></li>
			<li><a href="user.html" title="">会员中心</a></li>
			<li class="abclast"><a href="login.html" title="">会员登录</a></li>
		</ul>
	</header>
	<article>
		<div id="wrapper">
			<ul>
				<li class="details" ng-show="delvi">
					 <!-- Swiper -->
				    <div class="swiper-container">
					    <div class="swiper-wrapper">
					        <div class="swiper-slide"><img ng-src="libs/php/list/{{data.filename}}" class="img-responsive" /></div>
					        <div class="swiper-slide"><img ng-src="libs/php/list/{{data.filename}}"  class="img-responsive"/></div>
					        <div class="swiper-slide"><img ng-src="libs/php/list/{{data.filename}}" class="img-responsive" /></div>
					    </div>
					    <!-- 如果需要分页器 -->
					    <div class="swiper-pagination"></div>
					</div>

					<div class="content">
						<p ng-bind="data.productname"></p>
						<span>￥{{data.productprice}}</span>
					</div>
					<div class="introude">
						<ul>
							<li><span>品牌名称：</span>{{data.brand}}</li>
							<li><span>商品名称：</span>{{data.proname}}</li>
							<li><span>材质：</span>{{data.productdes}}</li>
							<li><span>洗涤说明：</span>{{data.pro}}</li>
						</ul>
					</div>
					<div>
						<img ng-src="libs/php/list/{{data.describe}}" class="img-responsive" >
					</div>
				</li>
				<li class="discuss" ng-show="contvi">
					<ul>
						<li ng-repeat="(key, value) in comment">
							<div>
								<img ng-src="{{value.src}}">
								<span ng-bind="value.name"></span>
								<span ng-bind="value.datetime"></span>
							</div>
							<p class="red"><i class="fa fa-star" ng-repeat="start in [] | range: value.star"></i></p>
							<p ng-bind="value.comtent"></p>
							<p class="gray" ng-bind="value.date"></p>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</article>
	<footer>
		<a href="cart.html" class="col-xs-3"><i class="fa fa-shopping-cart"></i><span class="number" ng-bind="count"></span></a>
		<a href="#" class="col-xs-4" id="cart" ng-click = "cart()">加入购物车</a>
		<a href="cart.html" class="col-xs-5">立即购买</a>
	</footer>
</body>
</html>