<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0">
	<title>MEI商城</title>
	<link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="libs/Swiper-3.4.0/dist/css/swiper.min.css">
	<link rel="stylesheet" type="text/css" href="libs/dist/css/index.min.css">

	<script type="text/javascript" src="libs/jquery/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="libs/angular/angular.min.js"></script>
	<script type="text/javascript" src="libs/iscroll/build/iscroll.js"></script>
	<script type="text/javascript" src="libs/iscroll/build/iscroll-probe.js"></script>
	<script type="text/javascript" src="libs/Swiper-3.4.0/dist/js/swiper.jquery.min.js"></script>
	<script type="text/javascript" src="libs/dist/js/ng_common.js"></script>
	<script type="text/javascript" src="libs/dist/js/index.js"></script>
</head>
<body ng-app="indexapp" ng-controller="indexcontroller" data-ng-init='load()'>
	
	<header>
		MEI商城
		<a href="#"><i class="fa fa-search iconfont"></i></a>
	</header>
	<article>
		<div class="input-group search">
		  <span class="input-group-addon before"><i class="fa fa-search"></i></span>
		  <input type="text" class="form-control">
		  <span class="input-group-addon after">搜索</span>
		</div>
		<div id="wrapper">
	        <ul>
	         <li class="lunbo">
		            <div class="swiper-container">
					    <div class="swiper-wrapper">
					        <div class="swiper-slide"><img src="libs/php/img/20170219135235_236.jpg"  class="img-responsive" /></div>
					        <div class="swiper-slide"><img src="libs/php/img/20170219135251_871.jpg"   class="img-responsive"/></div>
					        <div class="swiper-slide"><img src="libs/php/img/20170219135304_190.jpg" class="img-responsive" /></div>
					    </div>
					    <!-- 如果需要分页器 -->
					    <div class="swiper-pagination"></div>
					</div>
	            </li>
	            <li>
					<div class="menu">
						 <div ng-repeat="(key, value) in data1" ng-class="value.className" >
						 	<a href="product.html" title=""><img ng-src="libs/php/img/{{value.filename}}" style="max-height:100% "></a>
						 	
						 </div>
						 <a href="product.html" class="col-xs-12" ng-repeat="(key, val) in data">
						 	<img ng-src="libs/php/img/{{val.filename}}" class="img-responsive" style="max-height:100% ">
						 	<p ng-bind="val.productname">拱辰享雪美白精华套装</p>
						 	<span>¥{{val.productprice}}</span>
						 </a>
					</div>
	            </li>
	        </ul>
	    </div>
	</article>
	
	<footer >
		<a href="index.html"><i class="fa fa-home"></i><p>首页</p></a>
		<a href="product.html"><i class="fa fa-home"></i><p>分类</p></a>
		<a href="cart.html"><i class="fa fa-home"></i><p>购物车</p></a>
		<a href="user.html"><i class="fa fa-user"></i><p>个人中心</p></a>
	</footer>
	<div id="totop" ><i class="fa fa-arrow-up"></i></div>
</body>
</html>