<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<!--css-->
		<link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.min.css"/>
		<link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="libs/jquery-confirm/jquery-confirm.css"/>
		<link rel="stylesheet" type="text/css" href="libs/dist/css/login1.css">
		
		<!--js-->
		<script src="libs/jquery/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="libs/jquery-confirm/jquery-confirm.js" type="text/javascript" charset="utf-8"></script>
		<script src="libs/angular/angular.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="libs/dist/js/ng_common.js" type="text/javascript" charset="utf-8"></script>
		<script src="libs/dist/js/login1.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body ng-app="loginApp" ng-controller="loginCtrl">
		<div class="login_main">
			<div class="login_top">
				<div class="login_title">欢迎登录MEI后台管理系统</div>
			</div>
			<div class="login_middle">
				<div class="login_middleleft"></div>
				<div class="login_middlecenter">
					<form class="login_form">
						<div class="login_user"><input type="text" name="account" id="account" placeholder="用户名" ng-model="account"></div>
						<div class="login_pass"><input type="password" name="password" id="password" placeholder="密码" ng-model="password"></div>
						<div class="clear"></div>
						<div class="login_button">
							<div class="login_button_left"><input type="button" ng-click="login()"></div>
							<div class="login_button_right"><input type="reset" value=""></div>
							<div class="clear"></div>
						</div>
					</form>
					<div class="login_info" ng-bind="errorMsg"></div>
				</div>
				<div class="login_middleright"></div>
				<div class="clear"></div>
			</div>
			<div class="login_bottom">
				<div class="login_copyright">版权所有：</div>
			</div>
		</div>
	</body>
</html>
