<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0">
	<title></title>
	<link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="libs/dist/css/order.min.css">
	

	<script type="text/javascript" src="libs/jquery/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="libs/angular/angular.min.js"></script>
	<script type="text/javascript" src="libs/dist/js/ng_common.js"></script>
</head>
<body ng-app="order" ng-controller="ordercontroller">
	<header>
		<i class="fa fa-angle-left topgo fa-lg"></i>
		订单中心
		<i class="fa fa-list toplist"></i>
		<ul class="them">
			<li><a href="index.html" title="">首页</a></li>
			<li><a href="product.html" title="">分类查询</a></li>
			<li><a href="cart.html" title="">购物车</a></li>
			<li><a href="user.html" title="">会员中心</a></li>
			<li><a href="order.html" title="">我的订单</a></li>
			<li class="abclast"><a href="login.html" title="">会员登录</a></li>
		</ul>
	</header>
	<article>
 		 <ul class="list-group">
		  <li class="list-group-item" ng-repeat="(key, value) in data">
		  		<p class="title">订单号{{value.orderno}}</p>
		  		<ul ng-repeat="(k, val) in value.product">
		  			<li><img ng-src="libs/php/list/{{val.src}}" class="img-responsive" ></li>
		  			<li ng-bind="val.productname"></li>
		  			<li >{{val.productprice}}</li>
		  		</ul>
		  		<p class="count">合计：{{value.count}}</p>
		  		<p ng-bind="value.statue == 0 ? '待发货':'买家已发货'" style="color:red"></p>
		  </li>
		</ul>
	</article>
	<footer>
		<a href="index.html"><i class="fa fa-home"></i><p>首页</p></a>
		<a href="product.html"><i class="fa fa-home"></i><p>分类</p></a>
		<a href="cart.html"><i class="fa fa-home"></i><p>购物车</p></a>
		<a href="user.html"><i class="fa fa-user"></i><p>个人中心</p></a>
	</footer>
</body>
<script type="text/javascript" src="libs/dist/js/order.js"></script>
</html>