<!DOCTYPE html>
<html ng-app="proapp" ng-controller="procontroller">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="libs/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="libs/dist/css/product.min.css">

	<script type="text/javascript" src="libs/jquery/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="libs/angular/angular.min.js"></script>
	<script type="text/javascript" src="libs/iscroll/build/iscroll.js"></script>
	<script type="text/javascript" src="libs/dist/js/ng_common.js"></script>
	<script type="text/javascript" src="libs/dist/js/product.js"></script>
</head>
<body  data-ng-init='load()'>
	<header>
		<i class="fa fa-angle-left topgo fa-lg"></i>
		姿JUZUI女装专场
		<i class="fa fa-list toplist"></i>
		<ul class="them">
			<li><a href="index.html" title="">首页</a></li>
			<li><a href="product.html" title="">分类查询</a></li>
			<li><a href="cart.html" title="">购物车</a></li>
			<li><a href="user.html" title="">会员中心</a></li>
			<li><a href="order.html" title="">我的订单</a></li>
			<li class="abclast"><a href="login.html" title="">会员登录</a></li>
		</ul>
	</header>
	<article>
		<div class="fix clearfix">
			<div class="col-xs-4 items">分类<i class="fa fa-caret-down icont"></i></div>
			<div class="col-xs-4 items">品牌<i class="fa fa-caret-down icont"></i></div>
			<div class="col-xs-4 items abc">价格排序<i class="fa fa-caret-down icont"></i></div>
		</div>
		<div class="classify">
			<div class="goods clearfix">
				<div class="col-xs-4">
					<ul>
						<li>分类1</li>
						<li>分类2</li>
						<li>分类3</li>
						<li>分类4</li>
						<li>分类5</li>
					</ul>
				</div>
				<div class="col-xs-4">
					<ul class="product">
						<li class="first">分类1</li>
						<li>分类2</li>
						<li>分类3</li>
						<li>分类4</li>
						<li>分类5</li>
					</ul>
				</div>
				<div class="col-xs-4"></div>
			</div>
			<div class="brand">
				<ul>
					<li><a href="#">品牌1</a></li>
					<li><a href="#">品牌1</a></li>
					<li><a href="#">品牌1</a></li>
					<li><a href="#">品牌1</a></li>
					<li><a href="#">品牌1</a></li>
					<li><a href="#">品牌1</a></li>
				</ul>
			</div>
		</div>
		<div id="wrapper">
    		<div class="menu">
    			<a href="detail.html?id={{value.indexid}}" target="_blank" class="products" ng-repeat="(key, value) in data"><img ng-src="libs/php/list/{{value.filename}}"  class="img-responsive">
					<p ng-bind="value.productname"></p>
					<span>￥{{value.productprice}}</span>
    			</a>   			
    		</div>
	    </div>
	</article>

	<footer class="clearfix">
		<a href="index.html"><i class="fa fa-home"></i><p>首页</p></a>
		<a href="product.html"><i class="fa fa-home"></i><p>分类</p></a>
		<a href="cart.html"><i class="fa fa-home"></i><p>购物车</p></a>
		<a href="user.html"><i class="fa fa-user"></i><p>个人中心</p></a>
	</footer>
</body>
</html>