<li>
	<div><img ng-src="{{navs.src}}" ></div>
	<div>
		<p ng-bind="account"></p>
		<p><img ng-src="{{navs.src}}" class="img-responsive" ><span ng-bind="navs.user"></span></p>
	</div>
	<div>
		<i class="fa fa-angle-right"></i>
	</div>
</li>

<li class="clearfix">
	<div class="col-xs-4" ng-repeat="(key, value) in nav">
		<a href="#" ng-bind="value.number"></a>
		<p ng-bind="value.name">我的金额</p>
	</div>
</li>

<li>
	<a href="#" ng-repeat="(key, value) in nav1">
		<div>
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-user fa-stack-1x fa-inverse"></i>
			</span>
			<span ng-bind="value.grade" style="color: black"></span>
		</div>
		<div>
			<span ng-bind="value.num">5</span>
			<i class="fa fa-angle-right fa-lg"></i>
		</div>
	</a>
</li>