<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    
    <link rel="stylesheet" type="text/css" href="libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="libs/bootstrap-3.3.0-dist/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="libs/dist/css/backstage.css">
    <link rel="stylesheet" type="text/css" href="libs/jquery-confirm/jquery-confirm.css">

    <script type="text/javascript" src="libs/jquery/jquery-2.1.1.min.js"></script>
    <script type='text/javascript' src='libs/validform/jquery.validate.js'></script>
    <script type="text/javascript" src="libs/validform/jquery.validate.messages_zh.js"></script>
    <script type="text/javascript" src="libs/jquery/jquery.form.js"></script>
    <script type="text/javascript" src="libs/jquery-confirm/jquery-confirm.js"></script>
    <script type="text/javascript" src="libs/vue/vue.js"></script>
    <script type="text/javascript" src="libs/vue/vue-router.js"></script>
</head>

<body>
    <header id="header" class="">
        <div class="banner_left">
            <span>MEI</span>
            后台管理系统
        </div>
        <div  class="banner_right">
            
        </div>
    </header>
    <div class="nav" id="nav">
        <div class="nav_left">
            <span>当前用户:</span>
            <span v-text="account"></span>
        </div>
        <div class="nav_mid" v-text="date"></div>
        <div class="nav_right">
            <span>开启全屏</span>
            <span>退出全屏</span>
        </div>
    </div>
    <div id="left">
        <div class="list-group">
            <!--使用指令v-link进行导航-->
            <a class="list-group-item" href="#/home">首页</a>
            <a class="list-group-item" href="#/order">订单页面</a>
            <a class="list-group-item" href="#/List">商品列表</a>
            <a class="list-group-item" href="#/main" title="">主页</a>
            <a class="list-group-item" href="javascript:void(0)" @click="logOut()">退出登录</a>
        </div>
    </div>
    <div id="right">
        <div class="search">
            <select>
                <option value="1">1</option>
            </select>
            <input class="input-medium search-query" type="text" />
            <button type="submit">查找</button>
        </div>
        <div class="content">
            <!--用于渲染匹配的组件-->
            <router-view></router-view>
        </div>
    </div>
    <footer>
    </footer>
    <template id="list">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Index</th>
                    <th>Product Name</th>
                    <th>Picture</th>
                    <th>Product Price</th>
                    <th>操作</th>
                    <th>
                        <button class="btn btn-primary" @click="insert()">添加</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <!--   <tr v-for="(index,item) in datas" :class="{'select':item.check}" @click="handleClick(item)"> -->
                <tr v-for="(index,item) in datas | limitBy pagenumber (pageindex-1)*pagenumber " :class="{'select':item.check}">
                    <th v-text="index+1"></th>
                    <td v-text="item.indexid"></td>
                    <td v-text="item.productname"></td>
                    <td><img :src="'libs/php/list/'+item.filename" width="50" class="img-responsive" /></td>
                    <td v-text="item.productprice"></td>
                    <td>
                        <button class="btn btn-success" @click="change(item)">修改</button>
                    </td>
                    <td>
                        <button class="btn btn-success" @click="del(item)">删除</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li>
                                    <a href="javascript:void(0)" @click="previous()">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li v-for=" p in [] | range pagecount ">
                                    <a href="javascript:void(0)" v-text="p" @click="page(p)"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" @click="next()">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="mask" v-show="revise">
            <div class="container-fluid form">
                <div class="row-fluid">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="text-align: center;">商品主页管理系统</h3>
                                <button type="button" class="close" @click="close()">×</button>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group" v-if="!exit">
                                        <label class="col-sm-4 control-label" for="indexid">Id</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control required" id="indexid" name="indexid" v-model="indexid" placeholder="商品id" value="{{indexid}}" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="productname">商品名称</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control required" id="productname" name="productname" v-model="productname" placeholder="商品名称" value="{{productname}}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="productprice">商品价格</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control required" id="productprice" name="productprice" v-model="productprice" placeholder="价格" value="{{productprice}}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="productname">商品图片</label>
                                        <div class="col-sm-5">
                                            <input type="file" id="file" name="file" class="required" style='outline: none;' v-if="upload" />
                                            <img :src="'libs/php/list/'+ filename" width="50" class="img-responsive" v-else />
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-sucess" v-if="!upload" @click.prevent="upload = true">修改图片</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-4">
                                            <button class="btn btn-primary" type="submit" v-on:click.prevent="onSubmit()">上传</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
<!--     <template id="home">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>indexid</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(index,item) in top">
                <th v-text="index+1"></th>
                <td v-text="item.indexid"></td>
                <td v-text="item.productname"></td>
                <td><img :src="'libs/php/img/'+item.filename" alt="" width="50" ></td>
                <td v-text="item.className"></td>
            </tr>
        </tbody>
    </table>
</template> -->

    <template id="home">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>商品名称</th>
                    <th>商品图片</th>
                    <th>商品价格</th>
                    <th>操作</th>
                    <th>
                        <button class="btn btn-primary" @click="insert()">添加</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <!--   <tr v-for="(index,item) in datas" :class="{'select':item.check}" @click="handleClick(item)"> -->
                <tr v-for="(index,item) in datas | limitBy pagenumber (pageindex-1)*pagenumber " :class="{'select':item.check}">
                    <th v-text="index+1"></th>
                <!--     <td v-text="item.indexid"></td> -->
                    <td v-text="item.productname"></td>
                    <td><img :src="'libs/php/img/'+item.filename" width="50" class="img-responsive" /></td>
                    <td v-text="item.className"></td>
                    <td>
                        <button class="btn btn-success" @click="change(item)">修改</button>
                    </td>
                    <td>
                        <button class="btn btn-success" @click="del(item)">删除</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li>
                                    <a href="javascript:void(0)" @click="previous()">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li v-for=" p in [] | range pagecount ">
                                    <a href="javascript:void(0)" v-text="p" @click="page(p)"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" @click="next()">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="mask" v-show="revise">
            <div class="container-fluid form">
                <div class="row-fluid">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="text-align: center;">商品主页管理系统</h3>
                                <button type="button" class="close" @click="close()">×</button>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group" v-if="!exit">
                                        <label class="col-sm-4 control-label" for="indexid">Id</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control required" id="indexid" name="indexid" v-model="indexid" placeholder="商品id" value="{{indexid}}" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="productname">商品名称</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control required" id="productname" name="productname" v-model="productname" placeholder="商品名称" value="{{productname}}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="productprice">商品价格</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control required" id="productprice" name="productprice" v-model="productprice" placeholder="价格" value="{{productprice}}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="productname">商品图片</label>
                                        <div class="col-sm-5">
                                            <input type="file" id="file" name="file" class="required" style='outline: none;' v-if="upload" />
                                            <img :src="'libs/php/img/'+ filename" width="50" class="img-responsive" v-else />
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-sucess" v-if="!upload" @click.prevent="upload = true">修改图片</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-4">
                                            <button class="btn btn-primary" type="submit" v-on:click.prevent="onSubmit()">上传</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

<!--     <template id="main">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>indexid</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>photo</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(index,item) in main">
                <th v-text="index+1"></th>
                <td v-text="item.indexid"></td>
                <td v-text="item.productname"></td>
                <td><img :src="'libs/php/img/'+item.filename" alt="" width="50"></td>
                <td v-text="item.productprice"></td>
            </tr>
        </tbody>
    </table>
</template> -->

 <template id="main">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>商品名称</th>
                    <th>商品图片</th>
                    <th>商品价格</th>
                    <th>操作</th>
                    <th>
                        <button class="btn btn-primary" @click="insert()">添加</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <!--   <tr v-for="(index,item) in datas" :class="{'select':item.check}" @click="handleClick(item)"> -->
                <tr v-for="(index,item) in datas | limitBy pagenumber (pageindex-1)*pagenumber " :class="{'select':item.check}">
                    <th v-text="index+1"></th>
           <!--          <td v-text="item.indexid"></td> -->
                    <td v-text="item.productname"></td>
                    <td><img :src="'libs/php/img/'+item.filename" width="50" class="img-responsive" /></td>
                    <td v-text="item.productprice"></td>
                    <td>
                        <button class="btn btn-success" @click="change(item)">修改</button>
                    </td>
                    <td>
                        <button class="btn btn-success" @click="del(item)">删除</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li>
                                    <a href="javascript:void(0)" @click="previous()">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li v-for=" p in [] | range pagecount ">
                                    <a href="javascript:void(0)" v-text="p" @click="page(p)"></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" @click="next()">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="mask" v-show="revise">
            <div class="container-fluid form">
                <div class="row-fluid">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title" style="text-align: center;">商品主页管理系统</h3>
                                <button type="button" class="close" @click="close()">×</button>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="form-group" v-if="!exit">
                                        <label class="col-sm-4 control-label" for="indexid">Id</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control required" id="indexid" name="indexid" v-model="indexid" placeholder="商品id" value="{{indexid}}" readonly />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="productname">商品名称</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control required" id="productname" name="productname" v-model="productname" placeholder="商品名称" value="{{productname}}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="productprice">商品价格</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control required" id="productprice" name="productprice" v-model="productprice" placeholder="价格" value="{{productprice}}" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label" for="productname">商品图片</label>
                                        <div class="col-sm-5">
                                            <input type="file" id="file" name="file" class="required" style='outline: none;' v-if="upload" />
                                            <img :src="'libs/php/img/'+ filename" width="50" class="img-responsive" v-else />
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-sucess" v-if="!upload" @click.prevent="upload = true">修改图片</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-9 col-sm-offset-4">
                                            <button class="btn btn-primary" type="submit" v-on:click.prevent="onSubmit()">上传</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>


    <template id="order">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>订单编号</th>
                    <th>商品信息</th>
                    <th>总价</th>
                    <th>当前状态</th>
                    <th colspan="2">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(index,item) in order">
                    <th v-text="index+1"></th>
                    <td v-text="item.orderno"></td>
                    <td>
                        <ul class="list-group">
                            <li class="list-group-item orderList" v-for="obj in item.product">
                                <span><img :src="'libs/php/list/'+ obj.src"  style="width:20px;"></span>
                                <span v-text="obj.productname"></span>
                                <span>{{obj.productprice}}</span>
                            </li>
                        </ul>
                    </td>
                    <td v-text="item.count"></td>
                    <td v-text="item.statue == 0 ? '待发货':item.statue == 1 ? '已发货':'买家已签收'"></td>
                    <td>
                        <button class="btn btn-success" @click="send(item)">发货</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" @click="del(item)">取消订单</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </template>
</body>
<script type="text/javascript" src="libs/dist/js/vue-backstage.js"></script>

</html>
