$height : 88px;
$width : 150px;
$search:50px;
$fheight:27px;
$nav:32px;
html,body{
	width:100%;
	height:100%;
}

*{
	margin:0;
	padding:0;
}
.select{
	background:#0094ff;
}
#header{
	position:fixed;
	left:0px;
	right:0px;
	top:0px;
	height:$height;
	border-bottom:1px solid #ddd;
	background: url(../../images/bs_bannercenter.jpg) repeat-x;
	.banner_left{
		line-height: 88px;
	    font-size: 36px;
	    float: left;
	    padding-left: 36px;
	    color: #0c4086;
	    font-weight: 700;
	    font-family: '宋体';
	    text-align: center;
	    >span{
	    	color: #f5f5f5;
    		font-family: Arial;
    		font-weight: 400;
	    }
	}
	.banner_right{
		width: 100%;
    	height: 100%;
        background: url(../../images/bs_bannerright.jpg) 100% 0 no-repeat;
	}
}
.nav{
	height: $nav;
    line-height: $nav;
    top: $height;
    right: 0px;
    left: 0px;
    background: url(../../images/bs_bannercenter.jpg) 0 100% repeat-x;
    position: fixed;
    .nav_left{
    	width: 180px;
    	float: left;
    	>span{
    		color: #333;
    		padding-left: 22px;
    	}
    }
    .nav_mid{
    	float: left;
    }
    .nav_right{
    	float: right;
    	span{
    		padding: 0 8px 0 18px;
            cursor: pointer;
    	}
    	span:first-child {
    		background: url(../../images/fullscreen.gif) no-repeat;
    	}
    	span:last-child {
	    	background: url(../../images/no.gif) no-repeat;
		}
    }
}
#left{
	position:fixed;
	left:0px;
	width:$width;
	top:$height+$nav;
	bottom:$fheight;
	background: #f1f8ff;
    border-right: #ccc 1px solid;



}
#right{
	position:fixed;
	left:$width;
	right:0px;
	top:$height+$nav;
	bottom:$fheight;
	background: #d9e5ff;
	.search{
		position:fixed;
		left:$width;
		right:0px;
		top:$height+$nav;
		height:$search;
		background: #d9e5ff;
		select{
			width: 82px;
    		height: 26px;
   		    line-height: 26px;
   		    background: #f5f5f5;
    	    border: 1px solid #ccc;
    	    outline: none;
		}
		input{
			width: 225px;
    		height: 26px;
    		line-height: 26px;
    		background: #f5f5f5;
    		border: 1px solid #ccc;
    		padding-left: 6px;
    		outline: none;
		}
		button{
			background: #3279eb;
            color: #fff;
            border: 1px solid #3279eb;
            width: 58px;
    		height: 25px;
    		background: #9abefd;
   		 	border: 1px solid #9abefd;
            border-radius: 2px;
            margin-left: 12px;
            line-height: 25px;
		}
	}
	.content{
		position:fixed;
		left:$width;
		right:0px;
		top:$height+$search+$nav;
		bottom:$fheight;
		overflow:auto;
	}
}
footer{
	position:fixed;
	left:0px;
	right:0px;
	height:$fheight;
	bottom:0px;
	border-top:1px solid #ddd;
	background: url(../../images/bs_footcenter.jpg) repeat-x;
}
.mask{
	position: fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:10;
	background:rgba(0,0,0,.6);
	.form{
		position: absolute;
		top:50%;
		transform:translateY(-50%);
		width:100%;

		.close{
			position:absolute;
			top:10px;
			right:30px;
		}
	}
}

.maskmodel{
	position:fixed; 
	top:0; 
	right: 0; 
	bottom:0; 
	left: 0; 
	opacity:.3; 
	background:#000; 
	z-index:99; 
	display:block;
}
.maskmodel>i{
	font-size:38px; 
	display:block; 
	position:absolute; 
	left:50%; 
	top:50%; 
	transform: translate(-50%, -50%); 
	color:#fff;
}



.current{
	background: #d2efff;
}
.list-group-item {
    	background: #f1f8ff;
    }
a.list-group-item:hover, a.list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #d2efff;
}
.list-group,ul {
    margin-bottom: 0px;
}
.orderList{
	background:#d9e5ff; 
	border:0;
}
.pagination{
	position: absolute;
	right: 30px;
}
.active {
        background: red;
    }