
@import 'reset';
@import 'common';
header{
	display: -ms-box;
	display: -o-box;
	display: -moz-box;
	display: -webkit-box;
	-webkit-box-pack:center;
	-ms-box-pack:center;
	-o-box-pack:center;
	-moz-box-pack:center;
	
	#detail{
		background-color: white;
		color:black;
	}
	#detail.showin,#content.showin{
		background-color: white;
		color:black;
	}
	#detail.hidein,#content.hidein{
		background-color: #8E488E;
		color:white;
	}

	>div{
		line-height: $gheight;
		padding: 0px 10px;
	}
	>i{
		position: absolute;
		top:50%;
		transform:translateY(-50%);
	}
	>.topgo{
		left: 10px;
	}
	>i.toplist{
		right: 10px;
	}
}

article{
	#wrapper{
		position: absolute;
		top:0px;
		left:0px;
		bottom: 0px;
		width: 100%;

		.details{
			.swiper-container{
				width: 100%;
				img{
					width: 100%;
				}
			}
			.content{
				background-color: white;
				padding: 10px 0px 0px 10px;
				>p{
					margin-bottom: 5px;
				}
				>span{
					color: red;
				}
			}
			.introude{
				margin:10px 0px;
				background-color: white;
				padding:0px 10px;
				>ul>li{
					line-height: 25px;
					font-size: 12px;
					color: gray;
					>span{
						color: black;

					}
				}
			}
			img{
				width: 100%;
			}
		}

		.discuss{
			// display: none;
			font-size: 12px;
			li{
				margin:9px 0px;
				background-color: white;
				div{
					position: relative;
					padding: 5px 10px;
					border-bottom: 1px solid gray;
					img{
						width: 20px;
						height: 20px;
						border-radius: 50%;
					}
					span:first-child{
						padding-left: 10px;
					}
					span:last-child{
						position: absolute;
						top:50%;
						transform:translateY(-50%);
						right: 10px;
						color: gray;
					}
				}
				p{
					padding: 5px 10px;
				}
				p.red{
					color:red;
				}
				p.gray{
					color: gray;
				}
			}
		}
	}
}

footer{
	overflow: hidden;
	line-height: $gheight;
	font-weight: bold;
	text-align: center;
	border-top:#999 solid 1px;
	>a{
		color:white;
		text-align: center;
		font-size: 12px;
		display: block;
	}
	>a:first-child{
		background-color: white;
		color:purple;
		font-size: 30px;
		position: relative;
		>span{
			font-size: 12px;
			color:white;
			position: absolute;
			top:50%;
			left: 50%;
			transform:translate(-20%,-112%);
			display: block;
			width: 20px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			border-radius: 50%;
			background-color: purple;
			z-index: 100;
		}
	}
	>a:nth-child(2){
		background-color:#dd3d97 
	}	
}

