@import 'common';
@import 'reset';
header{
	a{
		position: absolute;
		right: 10px;
		top:0px;
		font-size: 25px;
		display: block;
		color:$fcolor;
	}
}
article{
	.search{
		width: 90%;
    	margin: 20px auto;
		display: none;
    	.input-group-addon{
    		background-color: white;
    	}
    	.before{
    		border-right: none;
    		border-color: #E5E6E7;
    	}
    	.form-control{
    		border-left: none;
		    box-shadow: none;
		    outline: none;
		    border-color: #E5E6E7;
    	}
    	.after{
    		border-color: #E5E6E7;
    	}
	}
	
	#wrapper{
		position: relative;
		width: 100%;
		height: 100%;
		z-index: 2;
		overflow: hidden;
		.lunbo{
			width:100%;
			img{
				width:100%;
			}
		}
		.menu{
			width:100%;
			overflow: hidden;
			>div{
				padding:2px;
				>a{
					color:black;
					display: block;	
				}
				
			}
			img{
				width: 100%;	
			}
			>a,>div{
				color:black;
				display: block;
				margin: 5px 0px;
				background-color: white;
			   	padding:2px;
			   >img{
			   	width: 100%;
			   }
			   >p{
			   	padding-bottom: 5px;
			   }
			   span{
					color:red;
				}
			}
		}
	}
}
footer{
	a{
		width: 25%;
		float: left;
		color:white;
		text-align: center;
		font-size: 25px;
		display: block;
		p{
			font-size: 12px;
			margin-top:-5px; 
		}
	}
}

#totop{
	display: none;
	width: 40px;
	height: 40px;
	background-color: red;
	line-height: 40px;
	text-align: center;
	position: fixed;
	z-index: 100;
	right: 20px;
	bottom: 70px;
	font-size: 25px;
	border-radius: 50%;
	overflow: hidden;
	opacity: .7;
	color: white;
}

