@import 'reset';
@import 'common';
header{
	>i{
		position: absolute;
		top:50%;
		transform:translateY(-50%);
	}
	>.topgo{
		left: 10px;
	}
	>i.toplist{
		right: 10px;
	}
}

article{
	overflow:auto;
	.list-group{
		border-bottom:1px solid #eaeaea;
		margin-bottom: 0px;
		.title{
			text-align:center;
			padding-bottom:10px;
		}
		ul{
			display:-webkit-flex;
			padding:5px 0px;
			li{
				float:left;
				img{
					width:100%;
				}
			}
			li:first-child{
				width:10%;
			}
			li:nth-child(2){
				width:80%;
				padding:0 10px;
			}
			li:last-child{
				width:10%
			}
		}
		.count{
			text-align:right;
		}
	}
}

footer{
	a{
		width: 25%;
		float: left;
		color:white;
		text-align: center;
		font-size: 25px;
		display: block;
		p{
			font-size: 12px;
			margin-top:-5px; 
		}
	}
}


