

*{
	margin:0;
	padding:0;
}
p{margin: 0;}
ul,li{list-style:none}
html,body{
	width:100%;
	height:100%;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}
a{
	text-decoration: none;
	color:black;
}
a:hover{
	text-decoration: none;
}
a:visited,a:active,a:link{
	color: white;
}


.mask{
	position:fixed; 
	top:0; 
	right: 0; 
	bottom:0; 
	left: 0; 
	opacity:.3; 
	background:#000; 
	z-index:99; 
	display:none;
}
.mask>i{
	font-size:38px; 
	display:block; 
	position:absolute; 
	left:50%; 
	top:50%; 
	transform: translate(-50%, -50%); 
	color:#fff;
}


.item-hidden{display:none;}
.item-block{display:block;}