
@import 'reset';
@import 'common';
header{
	>i{
		position: absolute;
		top:50%;
		transform:translateY(-50%);
	}
	>.topgo{
		left: 10px;
	}
	>i.toplist{
		right: 10px;
	}
}



article{
	#wrapper{
		position: absolute;
		top:0px;
		left:0px;
		bottom: 0px;
		width: 100%;
		overflow: auto;

		>div{
			width: 100%;
			position: absolute;
			top: 50%;
			// left: 50%;
			transform:translate(0%,-50%);
			>h4{
				text-align: center;
				>a{
					color:orange;
				}
			}
		}

		>ul{
			>li:nth-child(1){
				background: -webkit-linear-gradient(red,orange);
				display: flex;
				display: -webkit-flex;
				display: -ms-flex;
				display: -o-flex;
				display: -moz-flex;
				
				height: 85px;
				>div{
					float: left;
					position: relative;
				}
				>div:first-child{
					width:30%; 
					img{
						width: 70px;
						height: 70px;
						border-radius: 50%;
						position: absolute;
						top:50%;
						left: 50%;
						transform:translate(-50%,-50%);

					}
				}
				>div:nth-child(2){
					width: 60%;
					color:white;
					font-weight: bold;
					>p{
						position: relative;
						line-height: 30px;
					}
					>p:first-child{
						margin-top: 10px;
					}
					img{
						width: 20px;
					}
					span{
						position: absolute;
						left:15%;
						top:0px;
					}
				}
				>div:nth-child(3){
					width: 10%;
					line-height: 85px;
					color: white;
					font-size: 20px;
				}
			}
			>li:nth-child(2){
				text-align: center;
				padding: 10px 0px;
				background-color: white;
				>div{
					position: relative;
					>p{
						font-size: 12px;
						color: gray;
					}
					>a{
						display: block;
						padding-bottom: 3px;
						font-size: 20px;
						font-weight: bold;
						color:black;
					}
				}
				>div:nth-child(1)::before,>div:nth-child(2)::before{
					content: "";
					width: 1px;
					display: block;
					position: absolute;
					background-color: black;
					transform:scaleX(0.2);
					height: 70%;
					right: 0px;
					top:15%;
				}
			}
			>li:nth-child(3),>li:nth-child(4){
				margin: 10px 0px;
				background-color: white;
				border: 1px solid #ccc;
				border-radius: 4px;
				>a{
					display: flex;
					display: -webkit-flex;
					display: -ms-flex;
					display: -o-flex;
					display: -moz-flex;
					
					border-bottom: solid 1px #ccc;
					>div{
						width: 50%;
						float: left;
						padding: 10px 10px;
					}
					>div:first-child{
						color: gray;
						font-size: 12px;
						>span{
							color: red;
						}
					}
					>div:nth-child(2){
						text-align: right;
						position: relative;
						>span{
							width: 20px;
							height: 20px;
							color: white;
							display: block;
							line-height: 20px;
							border-radius: 50%;
							background-color: purple;
							text-align: center;
							position: absolute;
							top:50%;
							right: 30px;
							transform:translateY(-50%);
						}
						>i{
							position: absolute;
							top:50%;
							right: 10px;
							transform:translateY(-50%);
						}
					}
				}
				>a:last-child{
					border:0px;
				}
			}
		}
	}
}

footer{
	a{
		width: 25%;
		float: left;
		color:white;
		text-align: center;
		font-size: 25px;
		display: block;
		p{
			font-size: 12px;
			margin-top:-5px; 
		}
	}
}